<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="{{ '/assets/styles.css' | url }}">
  </head>
  <body class="{{ bodyClass | default('') }}">
    {{ content | safe }}
    <script src="{{ '/assets/main.js' | url }}"></script>
  </body>
</html>
